In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
dframe=pd.read_csv('lec25.csv')

In [3]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [4]:
dframe=pd.read_csv('lec25.csv', header=None)

In [5]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [9]:
dframe=pd.read_table('lec25.csv', sep=',', header=None)

In [7]:
dframe

                0
0   q,r,s,t,apple
1    2,3,4,5,pear
2  a,s,d,f,rabbit
3     5,2,5,7,dog

In [12]:
dframe1=pd.read_csv('lec25.csv', sep=',', header=None, nrows=3)

In [13]:
dframe1

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit

In [15]:
dframe.to_csv('mytextdata_out.csv')

In [16]:
import sys

In [17]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit

In [18]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit